<div>
  <nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div
          class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
        >
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <a
                href="#"
                class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white"
                aria-current="page"
                >Dashboard</a
              >
            </div>
          </div>
        </div>
        <div class="max-w-md mx-auto">
          <div
            class="relative flex items-center w-full h-12 rounded-lg focus-within:shadow-lg bg-white overflow-hidden"
          >
            <div class="grid place-items-center h-full w-12 text-gray-300">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                />
              </svg>
            </div>

            <input
              class="peer h-full w-full outline-none text-sm text-gray-700 pr-2"
              type="text"
              id="search"
              [(ngModel)]="searchText"
              placeholder="Search something.."
            />
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="p-4 flex flex-row align-text-center">
    <h1 class="text-xl font-bold p-2">Categories Dashboard</h1>
    <button (click)="openSidePanel()" class="ml-auto">
      <div class="flex flex-row border rounded p-2 gap-2 items-center">
        <p>Add Widget</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 4.5v15m7.5-7.5h-15"
          />
        </svg>
      </div>
    </button>
  </div>

  <app-cards-component
    [isOpen]="isSidePanelOpen"
    (closePanel)="closeSidePanel()"
    (widgetsConfirmed)="addWidgets($event)"
  >
  </app-cards-component>

  <div class="flex flex-col p-6">
    <div
      *ngFor="let category of categories"
      class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4"
    >
      <h2 class="text-lg font-bold col-span-full">
        {{ category.categoryName }}
      </h2>
      <div *ngFor="let widget of filterWidgets(widgets)" class="border p-4 rounded-md bg-gray-100">
        <h3>{{ widget.title }}</h3>
        <p>{{ widget.content }}</p>
        <span class="cursor-pointer" (click)="removeWidget(widget)">X</span>
      </div>
      

      <button
        *ngIf="!hasWidgets(widgets)"
        (click)="openSidePanel()"
        class="border p-4 rounded-md bg-gray-100"
      >
        <div
          class="flex flex-row border rounded p-2 gap-2 items-center cursor-pointer justify-center"
        >
          <p>Add Widget</p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-4"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 4.5v15m7.5-7.5h-15"
            />
          </svg>
        </div>
      </button>
    </div>
  </div>
</div>
